#root {
  text-align: center;
}

.hero {
  min-height: 90dvh;
  background-image: url("../assets/background-GolBreakers.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
